@import "../mixins/variables";
.index{

    &__services{
        margin-top: 2rem;
        margin-bottom: 0;
        @include respond(phone){
            background-color: $primary;
            padding: 1.5rem 0;
        }
        

        &__intro{
            font-size: 3rem;
            font-weight: 700;
            color: $header-color;
            @include respond(phone){
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
            }
        }
        &__render{
            background-color: $neutral;
            padding: 2rem;
            @include respond(phone){
                margin-top: 5rem !important;
              
            }
            
            &__list{
                font-size: 1.7rem;
                color: #636360;
            }

            &__header{
                font-size: 2rem;
                font-weight: 700;
                color: $header-color;
            }
        }
    }
    &__healthcarefuture{
        background-color: $secondary;
        padding: 2rem 5rem;
        &__wrapper{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            height: auto;
            & p{
                font-size: 1.7rem;
            }
           @include respond(phone){
            width: 90%;
           }
           
            &__header{
                font-size: 2rem;
                font-weight: 700;
                margin: 5px 0;
                padding: 0;
            }
        }
    }
}