// Brand Colors
$primary: #0065A3;
$secondary: #f0f0f0;
$danger: #F22B0C;
$info: #9DCAE5;
$neutral: #FFFFFF;
$success: #68ff68;
$header-color: #5a5a58;
$par-color: #636360;

// Font Style --Lacto Italic

// Line Spacing
$xs: 1.2rem;
$sm: 1.4rem;
$md: 1.6rem;
$lg: 32rem;