@import "../mixins/variables";
:root {
    font-size: 16px;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    overflow-x: hidden;
    color: $primary;
}

.content {
    /* max-width: 114rem; */
    margin-top: 7rem;

    @include respond(phone) {
        margin-top: 5rem;
        padding: 0 2rem;
    }
}


.active {
    color: $primary !important;

    @include respond(tab-port) {
        background-color: #fff !important;
    }
}

.router-link{
    color: $primary !important;
}

 // formix error message 
.error {
    position: absolute;
    color: red;
    font-size: .6rem;
  }

// Button:hover, Button:active, Button:visited{
//     background-color: $primary !important;
//   }
  