@import "../mixins/variables";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica,;
}

body {
    box-sizing: border-box;
    width: 100%;
}
p{
    font-size: 1.6rem;
}

.content {
    /* max-width: 114rem; */
    margin-top: 7rem;

    @include respond(phone) {
        margin-top: 5rem;
        padding: 0 2rem;
    }
}

div{
    font-size: 1.2rem;
}
.active {
    color: $primary !important;

    @include respond(tab-port) {
        background-color: #fff !important;
    }
}

.router-link{
    color: $primary !important;
}

 // formix error message 
.error {
    position: absolute;
    color: red;
    font-size: .6rem;
  }

Button:hover, Button:active, Button:visited{
    background-color: $primary !important;
  }
  