@import "../mixins/variables";
.index{
    height: 70vh;
    border-radius: 15px;
    display: flex;

    @include respond(phone){
        height: 30rem;
    }
    
    &__slider{
   
        &__container{
            height: 50vh;
            justify-content: center;
            align-items: center;
            background-color: $primary;

            @include respond(phone){
                height: 9rem;
            }
        }

        &__image{
            width: 100%;
            height: auto;
        }
    }

 
}