@import "../mixins/variables";

.product{
    margin-top: 2rem;
    &__class{
        &__container{
            height: auto;
            width: 20rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
            @include respond(phone){
                display: flex;
                justify-content: center;
            }
        
        
        }
        &__file__wrapper{
            align-items: center;

            &__img{
                height: 10rem;
                justify-content: center;
                @include respond(phone){
                    height: 15rem;
                }
        
            }
     
            
        }
        &__text{
    
            & h2{
                color: $primary;
                font-weight: 700;
                font-size: 1.7rem;
            }
            & p{
                color: rgb(34, 33, 33);
                font-weight: 700;
                font-size: 1.5rem;

            }
    
        }
    }

    &__carousel{
        background-color: #053c5e;
        padding-top: 20px;
    }
    &__img{
        max-height: 200px;
        width: auto;
    }
    &__name{
        color: rgba(0, 0, 0, 0.692);
        font-size: 1.7rem;
        font-weight: 700;
    }
    &__details__img{
        height: auto;
        width: 100%;
        border-radius: 10%;
     
        
    }
    &__discription{
        font-size: 1.5rem;
        margin: 1rem 0;
        text-align: justify;

    }
    &__details{
        

        &__feedback{

            @include respond(phone){
                margin-top: 2.5rem;
                font-size: 1.8rem;
            }
        }
        &__card{
            @include respond(phone){
                margin-top: 2.5rem;
                font-size: 1.8rem;
            }
        }
    } 
    &__price{
        font-size: 2rem;
        font-weight: 600;
    }    
    &__trash{
        background-color: red;
        padding: 0.8rem;
        color: #fff;
        border-radius: 2rem;
        font-size: 1.4rem;
        @include respond(phone){
            margin-top: 1rem;
        }
        
    }
    &__oos{
        color: rgba(0, 0, 0, 0.589);
        font-size: 1.6rem;
        
    }
}
.cart{
    &__btn{
        @include respond(phone){
            margin-top: 1rem;
        }
    }
    &__name{
        font-size: 2rem;
    }
}


.intro-caption{
    background-color: #023758;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.checkout{
    &__header{
        font-size: 2.6rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.582);
    }
}

.order{
    &__details{
        display:flex;
        align-items: baseline;
    }
}
// Search box modal styling
.modal-content{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    
}
.form-control{
    background-color: rgba(233, 231, 231, 0.582);
   
}
.search-ppty{
    font-size: 1.4rem;
    height: 3.5rem;
}
.modal-backdrop{
    background-color: transparent;
}
