@import "../mixins/variables";
.swiper{
    height: 55vh;
    // border-radius: 15px;
    display: flex;
    &__slider{
      
        &__container{
            height: 10rem;
            justify-content: center;
            align-items: center ;
            margin: 0 auto;
            @include respond(phone){
                background-color: rgba(247, 247, 247, 0.801);
              
            }
        }
        &__index-image{
            @include respond(phone){
                height: 250px;
            
            }
        }
        &__wrapper{
            // background-color: $primary;
        }

        &__text{
            margin-top: 5rem;
            padding-right: 12rem;
            width: 55rem;
            color: #fff;
            & h2{
                font-size: 4rem;
                font-weight: 700;
            }
            & p{
                font-size: 1.7rem;
            }

            @include respond(phone){
                margin: 1rem;
               
                justify-content: center;
                width: 100%;
               & h2{
                font-size: 2rem;
                font-weight: 700;
            }
            & p{
                font-size: 1.4rem;
                
            }
                
            }
        }

        &__button{
            padding-right: 12rem;
            background-color: $neutral;
            
        }
    }
    @include respond(phone){
        height: 25vh;
    }
}

.analgesics{
    height: 35rem;
    @include respond(phone){
        height: 30rem;
    }
   
    &__slider{
        &__container{
            height: 20rem;
           
        }

        &__content{
            padding-top: 2rem;
            border: 0.2px $primary solid;
            border-radius: 1rem;
            &__name{
                font-size: 1.6rem;
                font-weight: 700;
                margin-top: 5px;
            }
            &__label{
                font-size: 1.2rem;
            }
            &__price{
                font-weight: 700;
                font-size: 1.6rem;
            }
            &__button{
                border: 1px $primary solid;
                border-radius: 2rem;
                padding: 5px;
                font-size: 1.2rem;
                & a{
                    color: $header-color;
                }
            }
           
            &__text{
                justify-content: center;
                
            }
            &__image{
              height: 18rem;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              @include respond(phone){
                height: 12rem;
            }
            }
        }
    }
}

.antibiotics{
    height: 17rem;
    border-radius: 15px;
    &__slider{
     
        &__container{
            height: 10rem;
            justify-content: center;
            align-items: center;
        }
        &__content{
            padding-top: 2rem;
            display: flex;
            border: 1px $primary solid;
            border-radius: 15px;
            padding: 1rem;
            &__image{
                height: 10rem;
                border-radius: 1rem;
                margin-right: 2rem;
            }
        }
    }
}

.multivitamins{
    height: 35rem;
    display: flex;
    @include respond(phone){
        height: 30rem;
    }
    &__slider{
     
     
        &__container{
            height: 20rem;
            justify-content: center;
            align-items: center;
        }
        &__content{
            padding-top: 2rem;
            border: 1px $primary solid;
            border-radius: 1rem;
            &__text{
                justify-content: center;
                
            }
            &__image{
                height: 18rem;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                @include respond(phone){
                    height: 12rem;
                }
            }
        }
    }
}


.partnership{
 &__brand{

    &__image{
        height: 150px !important;
        @include respond(phone){
            height: 100px !important;
            margin: 0;
            padding: 0;
        }
    }
 }
}



.swiper-container{
    width: 480px;
}

@media screen and (min-width: 380px){
    .swiper-container{
        width: 380px
    }
}

@media screen and (min-width: 768px){
    .swiper-container{
        width:768px
    }
}

/* Bootstrap Carousel */

.testimony{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
 
    &__wrapper{
        &__carousel{
            color: $header-color !important;  
            & p{
                margin: 0;
                padding: 0;
                color: $par-color;
            } 
            & h3{
                color: $primary;
                font-weight: 700;
                margin-top: 5px;
                margin-bottom: 0;
                padding: 0;
            }
            & h4{
                color: $primary;
                font-weight: 200;
            }
 
        }
       
    }
}