@import "../mixins/variables";
.swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 608px;
    @include respond(phone){
        height: 50vh;
    }
    // border-radius: 15px;
    &__slider{
        width: 100%;
        &__container{
            position: relative;
            & img{
                width: 100%;
                height: 608px;
        
                @include respond(tab-port){
                    height: 648px;
                }
                @include respond(phone){
                    height: 50vh;
                    // height: 432px;
                }
            }
            & h2, p{
                position: absolute;
                padding-left: 10rem;
                width: 80%;
                text-align: start;
                color: $neutral;
                margin: auto 1rem;
                line-height: 123%;
                letter-spacing: 0;
                width: 712px;
                @include respond(tab-port){
                    padding-left: 0;
                    left: 5rem;
                    width: 417px;
                }
                @include respond(phone){
                    padding-left: 0;
                    left: 5rem;
                    width: 278px;
                }
            }
            & h2{
                bottom: 18rem;
                text-align: center;
                font-size: 48px;
                font-weight: bold;
                text-align: start;
                @include respond(tab-land){
                    bottom: 40rem;
                }
                @include respond(tab-port){
                    font-size: 36px;
                    bottom: 21rem;
                }
                @include respond(phone){
                    font-size: 24px;
                    bottom: 14rem;
                    margin: 0%;
                    padding: 0%;
                    
                }
            }
            & p{
                font-size: 20px;
                bottom: 10rem;
                @include respond(tab-land){
                    bottom: 35rem;
                }
                @include respond(tab-port){
                    bottom: 10rem;
                    font-size: 18px;
                }
                @include respond(phone){
                    bottom: 5rem;
                    margin: 2px 0;
                    font-size: 12px;
                    
                }
            }
        }
        &__wrapper{
            // background-color: $primary;
        }

        &__text{
            margin-top: 5rem;
            padding-right: 12rem;
            width: 55rem;
            color: #fff;
            & h2{
                font-size: 4rem;
                font-weight: 700;
            }
            & p{
                font-size: 1.7rem;
            }

            @include respond(phone){
                margin: 1rem;
               
                justify-content: center;
                width: 100%;
               & h2{
                font-size: 2rem;
                font-weight: 700;
            }
            & p{
                font-size: 1.4rem;
                
            }
                
            }
        }

        &__button{
            padding-right: 12rem;
            background-color: $neutral;
            
        }
    }
}

.analgesics{
    height: 35rem;
    @include respond(phone){
        height: 30rem;
    }
   
    &__slider{
        &__container{
            height: 20rem;
           
        }

        &__content{
            padding-top: 2rem;
            border: 0.2px $primary solid;
            border-radius: 1rem;
            &__name{
                color: $primary;
                font-size: 1.6rem;
                font-weight: 700;
                margin-top: 5px;
            }
            &__label{
                font-size: 1.2rem;
                color: #000;
            }
            &__price{
                font-weight: 700;
                font-size: 1.6rem;
                color: #000;
            }
            &__button{
                border: 1px $primary solid;
                border-radius: 2rem;
                padding: 5px 0;
                padding-left: 3px;
                color: #000;
                font-size: 1.2rem;
                & a{
                    color: $header-color;
                }
            }
           
            &__text{
                justify-content: center;
                
            }
            &__image{
              height: 18rem;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              @include respond(phone){
                height: 12rem;
            }
            }
        }
    }
}

.antibiotics{
    height: 17rem;
    border-radius: 15px;
    &__slider{
     
        &__container{
            height: 10rem;
            justify-content: center;
            align-items: center;
        }
        &__content{
            padding-top: 2rem;
            display: flex;
            border: 1px $primary solid;
            border-radius: 15px;
            padding: 1rem;
            &__image{
                height: 10rem;
                border-radius: 1rem;
                margin-right: 2rem;
            }
        }
    }
}

.multivitamins{
    height: 35rem;
    display: flex;
    @include respond(phone){
        height: 30rem;
    }
    &__slider{
     
     
        &__container{
            height: 20rem;
            justify-content: center;
            align-items: center;
        }
        &__content{
            padding-top: 2rem;
            border: 1px $primary solid;
            border-radius: 1rem;
            &__text{
                justify-content: center;
                
            }
            &__image{
                height: 18rem;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                @include respond(phone){
                    height: 12rem;
                }
            }
        }
    }
}


.partnership{
 &__brand{

    &__image{
        height: 150px !important;
        @include respond(phone){
            height: 100px !important;
            margin: 0;
            padding: 0;
        }
    }
 }
}



.swiper-container{
    width: 480px;
}

@media screen and (min-width: 380px){
    .swiper-container{
        width: 380px
    }
}

@media screen and (min-width: 768px){
    .swiper-container{
        width:768px
    }
}

/* Bootstrap Carousel */

.testimony{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
 
    &__wrapper{
        &__carousel{
            color: $header-color !important;  
            & p{
                margin: 0;
                padding: 0;
                color: $par-color;
            } 
            & h3{
                color: $primary;
                font-weight: 700;
                margin-top: 5px;
                margin-bottom: 0;
                padding: 0;
            }
            & h4{
                color: $primary;
                font-weight: 200;
            }
 
        }
       
    }
}