@import "../mixins/variables";

.trackrecord{

    &__header{

        & h2{
            font-size: 3rem;
            font-weight: 700;
            color: $header-color;
        }
        & p{
            font-size: 1.5rem;
            background-color: $neutral;
            padding: 2rem;
            color: $par-color;
        }
    }
    &__introline{
        background-color: $secondary;
        padding: .5rem 5rem;
 

        @include respond(phone){
            padding: .5rem 2rem;
        }

        &__header{
            font-size: 2rem;

        }
        &__allbtn{
            color: $danger;
            font-size: 1.5rem;
        }
    }
    &__view{
        text-align: end;
        margin-right: 5rem;
        cursor: pointer;
        
        & a{
            color: red;
        };
    }
}